<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-success btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12 col-xs-18">
          <div class="media">
            <div class="media-body">
              <h2>Latest Mars News</h2>
              <h4 class="media-heading ">{{ mars.news_title }}</h4>
              <p class="bg-success"> {{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8 col-xs-18">
          <h2>Featured Mars Image</h2>
          <img
            src="{{mars.featured_image }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>
        <div class="col-md-4 col-xs-12">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <h4>Mars Facts</h4>
            <table class = "table table-hover">
            {{ mars.facts | safe }}
            </table>
          </div>
        </div>
      </div>
          <!-- Hemisphere title and images -->
      <div class="container-fluid">
        <div class="row" id="mars-title-img">
          <div class="col-md-12 col-xs-18">
            <div class="media">
              <h2>Mars Hemispheres</h2>
              <div class="media-body">
                {% for hemisphere in mars.mars_title_img %}
                <div class="col-md-3 col-xs-6">
                  <h4>{{ hemisphere.title }}</h4>
                  <img
                  src="{{hemisphere.image}}"
                  class="img-thumbnail"
                  alt="Responsive image"
                  
                  />
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>